.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(136, 203, 136);
    height: 100px
}

.navbar h1 {
    font-family: 'Fredoka One', cursive;
    font-weight: 400;
    font-size: 38px;
}

.nav-links a{
    color:rgb(3, 3, 3);
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 17px;
}

