.plant-page {
    margin: 20px;
    margin-top: 30px
}

.plant-list img{
    width: 120px;
    height: 150px;
    padding: -10px;
    margin: -10px;
}

.plant-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.plant-fx {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.plant-fx-right {
    display: flex;
}