.plant-page {
    margin: 20px;
}

.plant-list img{
    width: 150px;
    height: 180px;
}

.plant-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.plant-1 {
    height: 350px;
    width: 160px;
    padding: 10px;
}

.plant-fx {
    display: flex;
    justify-content: space-between;
}