.added-plants {
    display: flex; 
    flex-wrap: wrap;
}

.added-plants img {
    height: 180px;
    width: 150px;
    padding: 0px;
}

.added-plants .plant-title {
    height: 30px;
}

.delete-btn-div {
    position: relative;
    text-align: right;
}

.delete-room-btn {
    padding: 4px;
    width: 70px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgb(202, 202, 202);
    box-shadow: 0px 0.5px 1px 0.5px rgb(184, 184, 184);
    font-size: 16px;
    cursor: pointer;
}

.current-plants {
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 200px;
    height: 300px;
    padding: 20px 20px;
    box-shadow: 0px 1px 2px 2px rgba(98, 98, 98, 0.1);
    /* border: 4px solid white; */
    border-radius: 10%;
    margin: 10px;
    /* background-color: rgb(186, 226, 243); */
}

.delete-btn{
    margin-left: 170px;
    margin-top: -30px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0px;
    background-color: transparent;
    border: 1.2px solid rgb(22, 165, 20);
    box-shadow: 0px 0.5px 1px 0.2px rgb(152, 152, 152); 
    border-radius: 10%;
    cursor: pointer;
}

.water-btn {
    margin-top: 10px;
    background-color: rgb(100, 235, 240);
    padding: 5px 10px;
    border: 1px solid rgb(100, 235, 240);
    box-shadow: 0px 0.5px 2px 0.5px rgb(142, 142, 142);
    border-radius: 10%;
    color: rgb(3, 3, 3);
    width: 70px;
    cursor: pointer;
    font-size: 16px;
}

.current-plants h3{
    padding: 0px;
    padding-bottom: 0px;
    margin-top: -20px;
    text-transform: uppercase;
    font-size: 16px;
}

.water-droplet {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 1em;
    border-top-right-radius: 0.2em;
    transform: rotate(-40deg);
    background: linear-gradient(to right, aliceblue, lightblue, lightskyblue);
    margin-left: 70px;
    animation: water-droplet 1.5s forwards;
}

#watered-div p {
    font-size: 14px;
    height: 10px;
}

@keyframes water-droplet {
    0% {
        opacity: 0;
        transform: translateY(0) rotate(-40deg);
    }
    20% {
        opacity: 1;
    }
    75%{
        opacity: .5;
    }
    100% {
        opacity: 0;
        transform: translateY(80px) rotate(-40deg);
    }
}
